/* ==========================
   RESET
========================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

body {
  background: #f7f7f7;
}

.container {
  width: 92%;
  max-width: 1400px;
  margin: auto;
}

/* ==========================
   TOP HEADER
========================== */

.top-header {
  background: #063a91;
  min-height: 55px;
}

.top-header .container {
  min-height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left,
.right {
  display: flex;
  align-items: center;
}

.left {
  gap: 25px;
}

.right {
  gap: 25px;
}

.left span {
  color: #fff;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.right a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
}

.right a:hover {
  color: #ffd54f;
}

/* ==========================
   MIDDLE HEADER
========================== */

.middle-header {
  background: #fff;
  position: relative;
  z-index: 100;
}

.middle-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

/* ==========================
   LOGO
========================== */

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 120px;
  width: auto;
  display: block;
}

/* ==========================
   NAVBAR
========================== */

.menu-btn{
    display:none;
    font-size:30px;
    cursor:pointer;
    color:#363d64;
}

.navbar {
  background: #363d64;
  border-radius: 20px 0 0 20px;
  min-height: 55px;
  padding: 0 35px;
  display: flex;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 35px;
}

.navbar li {
  color: white;
  font-size: 15px;
  font-weight: 500;
  position: relative;
}

.navbar ul li a {
  color: inherit;
  text-decoration: none;
  transition: .3s;
  white-space: nowrap;
}

.navbar ul li a:hover {
  color: #ffd54f;
}

.navbar ul li a.active {
  color: #0b7d43;
  font-weight: 600;
}

.navbar ul li a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 2px;
  background: #0b7d43;
}

/* ==========================
   LAPTOP
========================== */

@media (max-width:1200px){

  .logo img{
    height:100px;
  }

  .navbar{
    padding:0 25px;
  }

  .navbar ul{
    gap:20px;
  }

  .navbar li{
    font-size:14px;
  }

}

/* ==========================
   TABLET
========================== */

@media (max-width:992px){


  
  .top-header .container{
    flex-direction:column;
    justify-content:center;
    padding:10px 0;
    gap:10px;
  }

  .left,
  .right{
    justify-content:center;
    flex-wrap:wrap;
  }

  .middle-header .container{
    flex-direction:column;
    padding:20px 0;
  }

  .logo img{
    height:90px;
  }


}

/* ==========================
   MOBILE
========================== */
@media (max-width:768px){

  .menu-btn{
    display:block;
    font-size:28px;
    cursor:pointer;
}

.middle-header .container{
  height: 100px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:relative;
}

.logo img{
  position: relative;
  right:180px;
  bottom:20px;
    height:100px;
}

.menu-btn{
  position: relative;
   bottom:100px;
   left: 200px;
    display:block;
    z-index:1001;
}

.navbar{
    position:relative;
    top:-100px;
    left:165px;
    width:100%;
       background: rgba(255, 255, 255, 0.8);
    border-radius:0;
    padding:20px 0;
    display:none;
}

.navbar.active{
    display:block;
}

.navbar ul{

    flex-direction:column;
    gap:11px;
}

.navbar li{
    width:100%;
    text-align:center;
    color:#041e7d;
    font-size:20px; 


}

.navbar li a{
    display:block;
    padding:12px;
    color:#041e7d;
}

}

@media (max-width:480px){

  .menu-btn{
  position: relative;
   bottom:100px;
   left: 180px;
    display:block;
    z-index:1001;
}

.navbar{
    position:relative;
    top:-100px;
    left:135px;
    width:100%;
       background: rgba(255, 255, 255, 0.8);
    border-radius:0;
    padding:20px 0;
    display:none;
}

  .logo img{
    height:95px;
    position: relative;
    left:-163px
  }

  .left span{
    font-size:13px;
  }

  .right a{
    font-size:13px;
  }

  .navbar li{
    font-size:15px;
  }

}